---
import { Image } from "astro:assets";

const { title, description, image, href } = Astro.props;
---

<div class="flex flex-col items-center justify-center">
  <a 
    href=`${href}`
    class="flex flex-col items-center justify-center p-4 space-y-4 bg-white rounded-2xl shadow-md hover:shadow-lg transition duration-300 ease-in-out"
    ><Image
      src={image}
      alt={title}
      width="240"
      class="rounded-2xl object-cover md:w-60 md:h-60"
    />
    <h1>{title}</h1>
    <p class="text-dark-primary">{description}</p>
  </a>
</div>
